
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
margin: 0;
font-family: 'montserrat', 'sans-serif' ;
}

body {
    background-color: #f0f0f0;
}


header {
    background: url(header-section.jpg) fixed no-repeat;
    width: 6000px;
    height: 500px;
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    line-height: 3;
}

H1 {
    line-height: 3;
}

header H4 {
    font-style: italic;
    line-height: 3;
}



/* Destinations */

.explore {
    text-align: center;
    font-size: 30px;
}

.table-destination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 25px;
    flex-wrap: wrap;
}

.barcelone {
    background-image: url(barcelone.jpg);
}

.dubai {
    background-image: url(dubai.jpg);
}

.Paris {
    background-image: url(paris.jpg);
}

.city-block {
    position: relative;
    width: 250px;
    height: 400px;
    margin: 20px;
    flex: 1 0 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    transition: 0.4s all;
}

.city-block:hover {
    transform: scale(1.03);
    transition: 0.4s all;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


.overlay {
    position: absolute;
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
}


.city {
    font-weight: bold;
    background-color: #f0f0f0;
    position: relative;
    top: 30px;
    float: right;
    size: 25px;
    padding: 10px;
}

.price {
    font-weight: bold;
    background-color: rgb(253, 147, 108);
    position: relative;
    top: 320px;
    size: 25px;
    padding: 10px;
    color: whitesmoke;
}

.Manille {
    background-image: url(philippines.jpg);
}

/* FORMULAIRE DE RECHERCHE */

.form {
    text-align: center;
    align-items: center;
    background-color: rgb(253, 147, 108);
    margin: 0 250px;
    padding: 20px 20px 20px 20px;
    transform: translateY(-30%);
}

.form label {
    font-size: 18px;
    margin-left: 15px;
    margin-right: 5px;
    line-height: 3.2;
    font-weight: 500;
    color: #ffffff;
}

.form select, .form input {
    border: none;
    font-size: 16px;
    color: #515151;
    height: 28px;
    background-color: #f0f0f0;
}

.recherche-button {
    background-color: rgb(173, 67, 28);
    font-size: 16px;
    color: #ffffff;
    height: 45px;
    border: none;
    font-weight: 500;
    margin-top: 10px;
    padding: 0 15px;
}

/* Footer */

footer p {
text-align: center;
color: white;
padding: 30px;
font-weight: 600;
font-size: 18px;
}

footer {
    background-color:rgba(0, 0, 0, 0.351);
}
